@page
@model Transportation.Presentation.Api.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Service Is Working.</h1>
</div>
</body>
</html>